@charset 'UTF-8';


@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800,900|Open+Sans:400,800,800i|Roboto+Slab:400,700');


.navbar-default
{
    transition: .15s;

    border: none;
    background-color: transparent;

            -webkit-animation: opacit 1s ease ;
    -moz-animation: opacit 1s ease ;
    animation: opacit 1s ease ;
}
}

.navbar-default .container-fluid
{
    padding: 0 35px;
}



.navbar-default .navbar-brand,
.navbar-default .navbar-brand:visited,
.navbar-default .navbar-brand:hover
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;

    transition: .15s linear;
    word-spacing: 100%;
    text-transform: uppercase;

    color: #fff;
}



.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:visited,
.navbar-default .navbar-nav > li > a:focus
{
    font-family: 'Roboto Slab', serif;
    font-size: .85em;
    font-weight: 500;

    text-transform: uppercase;

    color: #fff;

     transition: .3s;
}
.navbar-default .navbar-nav > li > a:hover{
    opacity: .7;
    transition: .3s;
}
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active > a:hover,
.navbar-default .navbar-nav > li.active > a:focus
{
    color: #fff;
    background: none;
}






.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:visited,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:active,
.navbar-default .navbar-toggle:focus
{
    border: #24cf88 1px solid;
    background-color: #0f1020;
}

.navbar-default .navbar-toggle .icon-bar
{
    border-radius: 0;
    background-image: linear-gradient(to right bottom, #4286f8, #00a3ff, #00b8e9, #00c6bb, #24cf88);
}

.navbar-toggle .icon-bar
{
    transition: .25s ease;

    border-radius: none;
}
.navbar-toggle .icon-bar:nth-child(3)
{
    width: 75%;
}
.navbar-toggle .icon-bar:nth-child(4)
{
    width: 100%;
}
.navbar-toggle.collapsed .icon-bar:nth-child(2)
{
    transform: rotate(0)translateY(0)translateX(0);
}
.navbar-toggle.collapsed .icon-bar:nth-child(3)
{
    opacity: 1;
}
.navbar-toggle.collapsed .icon-bar:nth-child(4)
{
    width: 90%;

    transform: rotate(0);
    transform: translateY(0)translateX(0);
}
.navbar-toggle .icon-bar:nth-child(2)
{
    transform: rotate(-45deg)translateY(5px)translateX(-5px);
}
.navbar-toggle .icon-bar:nth-child(3)
{
    opacity: 0;
}
.navbar-toggle .icon-bar:nth-child(4)
{
    transform: rotate(45deg)translateY(-4px)translateX(-3px);
}






h4,
h3,
h2,
h1
{
    font-family: 'Open Sans', sans-serif;
}

/*.title
{
    font-weight: 900;

    display: inline-block;

    margin-top: 100px;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 30px;

    color: #000;
    border-top: 1px solid #E6ECF8;
}
*/









.home
{
    width: 100%;
    padding-top: 50px;
    position: relative;
    text-align: center;
    background-image: linear-gradient(65deg,#24cf88,#4286f4,#24cf88 75%);
         animation: gradientBackground 20s linear infinite;
    -moz-animation:gradientBackground 20s linear infinite;
    -webkit-animation: gradientBackground 20s linear infinite;
    background-size: 400% 175%;
    -webkit-box-shadow: inset 0 -56px 69px -46px rgba(15, 16, 32,.75);
       -moz-box-shadow: inset 0 -56px 69px -46px rgba(15, 16, 32,.75);
            box-shadow: inset 0 -56px 69px -46px rgba(15, 16, 32,.75);
}
.home p
{
    color: #fff;
}
.home h1
{
    font-weight: 900;

    display: inline-block;

    margin-top: 10%;
    padding: 10px 20px;

    transition: opacity .5s;

    opacity: 1;
    color: #fff;
    background: #242534;

            -webkit-animation: opacit 1.75s ease ;
    -moz-animation: opacit 1.75s ease ;
    animation: opacit 1.75s ease ;
}


.home h2
{
    font-size: 1.6em;
    font-weight: 100;

    display: inline-block;

    margin-top: 1%;
    padding: 10px 20px;

    transition: opacity .5s;

    opacity: 1;
    color: #fff;
    background: #242534;;

            -webkit-animation: opacit 2.25s ease ;
    -moz-animation: opacit 2.25s ease ;
    animation: opacit 2.25s ease ;
}




.mouse_scroll
{
    position: absolute;
    bottom: 50%;
    left: 50%;

    width: 30px;
    height: 50px;
    margin-left: -15px;

    cursor: pointer;
}
.mouse_scroll .mouse
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    border: 2px solid #fff;
    border-radius: 20px;

            -webkit-animation: opacit 2.75s ease ;
    -moz-animation: opacit 2.75s ease ;
    animation: opacit 2.75s ease ;
}
}
.mouse_scroll .wheel
{
    position: absolute;
    top: 10px;
    left: 50%;

    display: block;

    width: 4px;
    height: 4px;
    margin-left: -2px;

    animation: scroll_wheel 3s infinite;
    -webkit-animation: scroll_wheel 3s infinite;
    -moz-animation: scroll_wheel 3s infinite;
    border-radius: 50%;
    background: #0f1020;
}


.home .div_mouse
{
    visibility: visible;

    margin-top: 180px;
    margin-bottom: 80px;

    transition: opacity .75s;
    text-align: center;

    opacity: 1;
}

.home h1.opacity
{
    transition: opacity .5s;

    opacity: .0;
}


.home h2.opacity
{
    transition: opacity .75s;

    opacity: .0;
}

hr.opacity
{
    transition: opacity .75s;

    opacity: .0;
}

.home .div_mouse.opacity
{
    transition: opacity .75s;
    pointer-events: none;

    opacity: .0;
}

.home .social_links
{
    float: center;
    background-color:#0F1020;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    text-align: center;
    -webkit-animation: opacit 3s ease ;
    -moz-animation: opacit 3s ease ;
    animation: opacit 3s ease ;
}

.home .social_links .home_links:link,
.home .social_links .home_links:visited
{
    font-size: 1.1em;

    display: inline-block;

    width: 30px;
    height: 30px;
    margin-right: 6px;
    margin-left: 6px;
    padding: 3.2px;

    transition: .2s linear;

    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;

        -webkit-animation: opacit 3.75s ease ;
    -moz-animation: opacit 3.75s ease ;
    animation: opacit 3.75s ease ;
}

.home .social_links .home_links:hover
{
    transition: .2s linear;

    color: #0f1020;
    border: 1px solid #24cf88;
    background: #24cf88;
}







.about
{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;

    background: linear-gradient(180deg, #fff 60%, #026397 40%);
}
.about h1
{
    font-size: 2.5em;
    font-weight: 900;

    display: inline-block;

    padding: 10px 20px;

    color: #fff;
    border-bottom: 5px solid #4286f4;
    background: #242534;;
}
.about h2
{
    font-size: 1.5em;
    font-weight: 100;

    margin-top: 25px;

    color: #0f1020;
}

.about .myskills
{
    margin: 100px 0;
    padding: 50px 0;

    text-align: center;

    border: 1px solid #e6ecf8;
    border-radius: 10px;
    background-color: #fff;
}
.about .myskills h1
{
    font-size: 1.6em;
    font-weight: 600;

    text-transform: uppercase;

    color: #24cf88;
    border-bottom: none;
    background: none;
}

.about p
{
    font-size: 1.1em;
}

.about .myskills .fab
{
    padding-top: 10px;
    padding-bottom: 5px;
}

.outline-orange
{
    background: -webkit-linear-gradient(0deg , #e34f26 50%, #f26427 50%);
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
}
.about #html_title
{
    font-size: 1.2em;
    font-weight: 600;

    background: -webkit-linear-gradient(0deg , #e34f26 50%, #f26427 50%);
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
}



.outline-blue
{
    background: -webkit-linear-gradient(0deg , #0070bf 50%, #2ba7e0 50%);
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
}

.about #css_title
{
    font-size: 1.2em;
    font-weight: 600;

    background: -webkit-linear-gradient(0deg , #0070bf 50%, #2ba7e0 50%);
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
}

.outline-yellow
{
    transition: .5s;

    background: -webkit-linear-gradient(0deg ,  #e4a228 60%, #efc126 40%);
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
}
.about #js_title
{
    font-size: 1.2em;
    font-weight: 600;

    background: -webkit-linear-gradient(0deg ,  #e4a228 55%, #efc126 45%);
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
}

.about p
{
    font-family: 'Montserrat', sans-serif;
}
.about .toolDescription
{
    margin-top: 10px;
}
.about .libDescription
{
    margin-top: 25px;
}
.about .about_tools
{
    font-size: 1.1em;
    font-weight: 600;

    margin-bottom: 25px;

    color: #24cf88;
}
.float_text
{
    font-weight: 600;

    margin-right: 20px;
    margin-left: 20px;
}
.projects
{
    border-top: 5px solid #e6ecf8;
    background-color: #fff;
    border-bottom: 1px solid #e6ecf8;
    padding-bottom: 50px;
}
.projects h1
{
    font-size: 2.5em;
    font-weight: 900;

    display: inline-block;

    margin-top: 55px;
    padding: 10px 20px;

    color: #fff;
    border-bottom: 5px solid #24cf88;
    background: #242534;;
}

figure
{
    overflow: hidden;
}

.figureimage
{
    position: relative;
    top: 0;
    left: 0;

    overflow: hidden;

    width: 100%;
    height: 200px;
    margin-top: 25px;

    transition: .5s;
    text-align: center;
}

.figureimage .after
{
    position: absolute;
    top: 0;
    left: 0;

    visibility: none;

    width: 100%;
    height: 200px;

    transition: .5s;

    color: #fff;
}

.figureimage:hover  img
{
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
}

.figureimage .after p,
.figureimage .after a:link
{
    margin-top: 15px;
    margin-bottom: 80px;
    margin-left: 10px;

    opacity: 0;
}

.figureimage .after a:link,
.figureimage .after a:visited
{
    padding: 8px 10px;

    transition: .5s;
    text-decoration: none;

    color: #fff;
    border: 2px solid #4286f4;
    border-radius: 25px;
}

.figureimage .after a:link .fa-arrow-right
{
    margin-left: -15px;

    transition: .5s;

    opacity: 0;
    border-left: 2px solid #fff;
}
.figureimage .after a:hover
{
    transition: .5s;

    color: #fff;
    border: 2px solid #4286f4;
    background-color: #4286f4;
}
.figureimage .after a:hover .fa-arrow-right
{
    margin-left: 10px;
    padding-left: 15px;

    transition: .5s;

    opacity: 1;
}

.figureimage:hover .after
{
    display: block;

    transition: .5s;

    background-color: #0f1020;
}
.figureimage:hover .after p,
.figureimage:hover .after a:link
{
    transition: .5s;

    opacity: 1 ;
}

.figureimage img
{
    width: 100%;
    min-height: 200px;
    max-height: auto;

    -webkit-transition: all .3s;
       -moz-transition: all .3s;
            transition: all .3s;
}


.contact
{
    margin-bottom: 25px;
    background: #fff;
}
.contact h1
{
    font-weight: 900;

    display: inline-block;

    margin-top: 10%;
    padding: 10px 20px;

    transition: opacity .5s;

    opacity: 1;
    color: #fff;
    border-bottom: 5px solid #4286f4;
    background: #242534;
}

.contact .row
{
    margin-top: 25px;
}
.contact form
{
    margin-top: 25px;

    text-align: left;
}


.contact form input
{
    border: none;
    box-shadow: none;
}

.contact form input:focus
{
    border: none;
    outline: none;
    box-shadow: none;
}


.contact form textarea
{
    height: 50px;
    margin-top: 25px;

    resize: none;
    transition: .75s;

    border: none;
    border-radius: 0;
    box-shadow: none;
}

.contact form label
{
    font-size: .9em;
    font-weight: 500;
    font-weight: 100;

    position: absolute;
    top: 10px;

    transition: .2s ease all;
    text-transform: uppercase;

    color: #0f1020;
}

.contact form label
{
    font-family: 'Roboto Slab', serif;
}



.contact form textarea:active,
.contact form textarea:focus
{
    height: 95px;

    transition: .75s;

    border: none ;
    outline: none ;
    box-shadow: none ;
}



input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label
{
    font-size: .8em;

    top: -10px;

    color: #24cf88;
}
textarea:focus ~ label,
textarea:valid ~ label
{
    top: -20px;
}
textarea ~ label,
textarea:focus ~ label,
textarea:valid ~ label
{
    margin-top: 20px;
}


.underline
{
    position: relative;

    display: block;

    height: 2px;

    background-color: #4286f4;
}

.underline:before,
.underline:after
{
    position: absolute;

    width: 0;
    height: 2px;

    content: '';
    transition: .2s ease all;

    background: #24cf88;
}

.underline:before
{
    left: 50%;
}
.underline:after
{
    right: 50%;
}

input:focus ~ .underline:before,
input:focus ~ .underline:after,
textarea:focus ~ .underline:before,
textarea:focus ~ .underline:after
{
    width: 50%;
}



.contact form .btn
{
    font-family: 'Roboto Slab', serif;

    transition: .25s;

    color: #4286f4;
    border: solid 1px #4286f4;
    border-radius: 0;
    background: #fff;
}
.contact form .btn:hover
{
    transition: .25s;

    color: #fff;
    border: solid 1px #24cf88;
    background: #24cf88;
}

.contact form .btn:focus
{
    outline: none;
}

.contact form .btn > .fa-arrow-right
{
    margin-left: -10px;

    transition: .25s;

    opacity: 0;
    color: #fff;
}

.contact form .btn:hover > .fa-arrow-right
{
    height: 100%;
    margin-left: 5px;
    padding-left: 5px;

    transition: .25s;

    opacity: 1;
    border-left: 2px solid #fff;
}
.contact .aligntxt
{
    margin-top: 10px;
    margin-bottom: 50px;

    text-align: center;
}
.contact h3
{
    font-size: 1.2em;

    display: inline-block;

    transition: .25s linear;
    text-transform: uppercase;

    color: #0f1020;
}
.contact h3:hover
{
    transition: .25s linear;

    color: #24cf88;
}

#map
{
    width: 100%;
    height: 300px;
}
#map2
{
    width: 100%;
    height: 300px;
}

.footer
{
    background: #0f1020;
}

.footer .container
{
    padding-top: 150px;

    text-align: center;
}



.footer .circle
{
    width: 70px;
    height: 70px;
    margin: 0 auto;
    margin-top: -183px;

    cursor: pointer;

    border-radius: 50%;
    background: #0f1020;
}

.fa-angle-double-up
{
    margin: 10px auto;

    opacity: .7;
    color: #fff;
}

.footer p
{
    font-size: .85em;
}
.footer h4
{
    margin-top: 20px;
}

.footer h4,
.footer p
{
    opacity: .7;
    color: #fff;
}

.footer .soc_link:link,
.footer .soc_link:visited
{
    font-size: 1.3em;

    display: inline-block;

    width: 40px;
    height: 40px;
    margin: 0 auto;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
    margin-left: 10px;
    padding-top: 6px;

    transition: .2s linear;

    color: #fff;
    border: 2px solid #444351;
    border-radius: 50%;
}

.footer .soc_link:hover
{
    transition: .2s linear;

    color: #0f1020;
    border: 2px solid #fff;
    background: #fff;
}



















.navbar-default.scroll
{
    transition: .15s linear;

    border-bottom: 1px solid #0f1020;
    background: #fff;
}


.navbar-default.scroll .navbar-brand
{
    transition: .25s linear;

    background: -webkit-linear-gradient(85deg, #24cf88 , #4286f4);
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
}

.navbar-default.scroll .navbar-toggle .icon-bar
{
    background: #4286f8;
}
.navbar-default.scroll .navbar-toggle,
.navbar-default.scroll .navbar-toggle:visited,
.navbar-default.scroll .navbar-toggle:hover,
.navbar-default.scroll .navbar-toggle:active,
.navbar-default.scroll .navbar-toggle:focus
{
    border: #4286f8 1px solid;
    background-color: #fff;
}

.navbar-default.scroll .navbar-nav > li > a,
.navbar-default.scroll .navbar-nav > li > a:visited,
.navbar-default.scroll .navbar-nav > li > a:hover,
.navbar-default.scroll .navbar-nav > li > a:focus
{
    color: #0a090c;
}











@media(max-width: 767px)
{
    .home h1
    {
        font-size: 1.9em;
        font-weight: 900;

        margin-top: 15%;

        color: #fff;

        background: none;
    }
    .home h2
    {
        font-size: 1.6em;
        font-weight: 100;

        margin-top: 2%;

        color: #fff;

        background: none;
    }
    .home .mouse_scroll
    {
        display: none;
    }

    .tap.animated,
    .tap.animated-hover:hover,
    .faa-parent.animated-hover:hover > .tap
    {
        -webkit-animation: tap 1.25s infinite linear;
                animation: tap 1.25s infinite linear;

        color: #fff;
    }
    .navbar-default
    {
        transition: .35s;

        background-color: #0f1020;
    }
    .navbar-default.scroll
    {
        transition: .35s;
    }


    textarea ~ label,
    textarea:focus ~ label,
    textarea:valid ~ label
    {
        margin-top: 10px;
    }
    .contact form input
    {
        margin-top: 25px;
    }

    .float_text
    {
        font-weight: 600;

        float: center;

        text-align: center;
    }
    .navbar-default .container-fluid
    {
        padding: 0 10px;
    }

    .home .social_links
    {
        display: none;
    }

    .phninv
    {
        display: none;
    }
    .cnt-btn
    {
        text-align: center;
    }
}







@media(min-width: 768px)
{
    .navbar-default
    {
        height: 70px;
        padding-top: 10px;

        transition: .1s;
    }
    .navbar-default.scroll
    {
        height: 50px;
        padding-top: 0;

        transition: .25s;
    }


    .navbar-default .navbar-brand
    {
        font-size: 1.5em;
    }
    .navbar-default.scroll .navbar-brand
    {
        font-size: 1.4em;
    }


    .home > .container .far
    {
        display: none;
        visibility: hidden;
    }

    .home > .container > a .far:link,
    .home > .container > a .far:visited
    {
        color: #fff;
    }


    .navbar-default .navbar-nav > li > a:after
    {
        position: absolute;
        left: 25%;

        display: inline-block;

        width: 50%;
        height: 1em;
        margin-top: 10px;

        content: '';
        -webkit-transition: opacity .35s, -webkit-transform .35s;
                transition: opacity .35s, transform .35s;
        -webkit-transform: scale(0,1);
                transform: scale(0,1);

        opacity: 0;
        border-bottom: 1px solid;
    }

    /*.navbar-default .navbar-nav>li>a:hover:after{
  opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    background: none;

}*/


    .navbar-default .navbar-nav > li.active > a:after
    {
        position: absolute;
        left: 25%;

        display: inline-block;

        width: 50%;
        height: 1em;
        margin-top: 10px;

        content: '';
        -webkit-transition: opacity .35s, -webkit-transform .35s;
                transition: opacity .35s, transform .35s;
        -webkit-transform: scale(1);
                transform: scale(1);

        opacity: 1;
        border-bottom: 1px solid;
    }

    .float_text
    {
        display: inline;

        text-align: center;
    }

    .deskinv
    {
        display: none;
    }

    .cnt-btn
    {
        text-align: right;
    }
}



@-webkit-keyframes gradientBackground
{
    0%
    {
        background-position: 0 65%;
    }
    50%
    {
        background-position: 100% 0%;
    }
    100%
    {
        background-position: 0 65%;
    }
}
@-moz-keyframes gradientBackground
{
       0%
    {
        background-position: 0 65%;
    }
    50%
    {
        background-position: 100% 0%;
    }
    100%
    {
        background-position: 0 65%;
    }
}
@-o-keyframes gradientBackground
{
       0%
    {
        background-position: 0 65%;
    }
    50%
    {
        background-position: 100% 0%;
    }
    100%
    {
        background-position: 0 65%;
    }
}
@keyframes gradientBackground
{
       0%
    {
        background-position: 0 65%;
    }
    50%
    {
        background-position: 100% 0%;
    }
    100%
    {
        background-position: 0 65%;
    }
}



@-webkit-keyframes scroll_wheel
{
    from
    {
        transform: translate3d(0, 0, 0);

        opacity: 1;
    }
    to
    {
        transform: translate3d(0, 10px, 0);

        opacity: 0;
    }
}

@-o-keyframes scroll_wheel
{
    from
    {
        transform: translate3d(0, 0, 0);

        opacity: 1;
    }
    to
    {
        transform: translate3d(0, 10px, 0);

        opacity: 0;
    }
}
@-moz-keyframes scroll_wheel
{
    from
    {
        transform: translate3d(0, 0, 0);

        opacity: 1;
    }
    to
    {
        transform: translate3d(0, 10px, 0);

        opacity: 0;
    }
}
@keyframes scroll_wheel
{
    from
    {
        transform: translate3d(0, 0, 0);

        opacity: 1;
    }
    to
    {
        transform: translate3d(0, 10px, 0);

        opacity: 0;
    }
}



@-webkit-keyframes tap
{
    0%
    {
        opacity: .6;
    }

    50%
    {
        -webkit-transform: scale(1.8);
                transform: scale(1.8);

        opacity: 0;
    }

    100%
    {
        opacity: 0;
    }
}
@-o-keyframes tap
{
    0%
    {
        opacity: .6;
    }

    50%
    {
        -webkit-transform: scale(1.8);
                transform: scale(1.8);

        opacity: 0;
    }

    100%
    {
        opacity: 0;
    }
}
@-moz-keyframes tap
{
    0%
    {
        opacity: .6;
    }

    50%
    {
        -webkit-transform: scale(1.8);
                transform: scale(1.8);

        opacity: 0;
    }

    100%
    {
        opacity: 0;
    }
}

@keyframes tap
{
    0%
    {
        opacity: .7;
    }

    50%
    {
        -webkit-transform: scale(1.6);
                transform: scale(1.6);

        opacity: 0;
    }

    100%
    {
        opacity: 0;
    }
}

@-webkit-keyframes opacit{

    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@-o-keyframes opacit{

    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@-moz-keyframes opacit{

    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    
}
@keyframes opacit{

    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
